{
  "ProxyType": 0,
  "RootOrMatchingDomain": "test.local",
  "MatchingDomainAlias": [],
  "ActiveOrigins": [
    {
      "OriginIpOrDomain": "127.0.0.1:30011",
      "RequireTLS": false,
      "SkipCertValidations": false,
      "SkipWebSocketOriginCheck": false,
      "Weight": 1,
      "MaxConn": 0,
      "RespTimeout": 0
    }
  ],
  "InactiveOrigins": [],
  "UseStickySession": false,
  "UseActiveLoadBalance": false,
  "Disabled": false,
  "BypassGlobalTLS": true,
  "TlsOptions": null,
  "VirtualDirectories": null,
  "HeaderRewriteRules": null,
  "EnableWebsocketCustomHeaders": false,
  "AuthenticationProvider": null,
  "RequireRateLimit": false,
  "RateLimit": 1000,
  "DisableUptimeMonitor": false,
  "DisableLogging": false,
  "DisableChunkedTransferEncoding": false,
  "AccessFilterUUID": "default",
  "DefaultSiteOption": 0,
  "DefaultSiteValue": "",
  "Tags": null
}