version: '3.8'

services:
  zoraxy:
    image: zoraxydocker/zoraxy:latest
    restart: unless-stopped
    ports:
      - "80:80"       # HTTP
      - "443:443"     # HTTPS
      - "${EXTERNAL_PORT:-10001}:8000"  # Web管理界面
    volumes:
      - ./config:/opt/zoraxy/config
      - ./certs:/opt/zoraxy/certs
      # Podman은 소켓 마운트가 필요없음
    environment:
      - ZORAXY_CONFIG_PATH=/opt/zoraxy/config
      - ZORAXY_CERT_PATH=/opt/zoraxy/certs
    command: [
      "-port=10001",
      "-noauth=${NO_AUTH:-false}",
      # Podman 사용시 -docker 플래그 제거
      "-webroot=/opt/zoraxy/www",
      "-config=/opt/zoraxy/config",
      "-disable-tls"
    ]